.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 132px;
}


